.about{
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(219, 195, 164);
}

.heading{
    margin: 0;
    font-size: 4.5rem;
    text-align: center;
}


.image-cont{
    background-color: lightblue;
    height: 40vh;
    width: 30vw;
    float: left;
}

.text-cont{
    height: 60vh;
    background-color: lightcoral;
    font-size: 24px;
}

@media (max-width:750px){
    .image-cont{
        float: none;
        height: 40vh;
        width: auto;
        margin: auto;
    }
}