.about{
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(219, 195, 164);
}

.heading{
    margin: 0;
    font-size: 4.5rem;
    text-align: center;
}


.image-cont{
    background-color: lightblue;
    height: 60vh;
    width: 20vw;
    float: left;
    margin-left: 18px;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.text-cont{
    font-size: 24px;
    margin: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-text{
    background-color: lightgreen;
    margin-left: 8px;
}

.right-text{
    background-color: lightcoral;
    margin-left: 8px;
}


@media (max-width:750px){
    .image-cont{
        float: none;
        height: 60vh;
        width: 40vw;
        margin: auto;
    }
    .image{
        object-fit: cover;
        object-position: center;
    }
    .about{
        height: 100vh;
    }
    .text-cont{
        display: block;
    }
}