body{
    background-color:rgb(39, 39, 39);
}

.my-projects{
    background-color:rgb(39, 39, 39);
    margin-top: 30vh;
}

.card{
    height: 300px;
    width: 250px;
    background-color: lightblue;
    border-radius: 8%;
    border-style: solid;
    border-width: 2px;
    margin-left: 12px;
}
.card-img-container{
    height: 50%;
    width: 100%;
    border-radius: 8%;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius:12%;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

@media (max-width:750px){
    .my-projects{
        margin-top: 20px;
    }
}
